.village {
  width: 234px;
  margin: 30px;
}

.village__ground {
  width: 100%;
  padding-left: 0;
  list-style: none;
  background-color: yellowgreen;
  border-radius: 10px;
}

.village__ground:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.village__sign {
  margin-bottom: 0;
  text-align: center;
  background-color: lightyellow;
}

.village__house {
  float: left;
  margin: 15px;
}
